#form-container{
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 35%;
    margin-bottom: 5%;
    padding-left: 2%;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-right: 2%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 600;
    background: linear-gradient(to right, #8c8be6, #2d126b ); 
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);   
}