<body>
  <!-- <table style="width: 100%">
    <tr>
      <span *ngFor="let ticket of tickets">
        <td>
          {{ ticket.name }}
        </td>

        <td>
          {{ ticket.detail }}
        </td>
      </span>
    </tr>
  </table> -->

  <div id="ticket-container">
    <table class="table" style="width: 100%">
      <thead>
        Tickets
      </thead>
      <tbody>
        <tr class="container" *ngFor="let ticket of tickets; let i = index">
          <td>
            <button mat-raised-button color="primary" class="link" (click)="hideDetail = !hideDetail">
              {{ i + 1 }}. {{ ticket.name }} <br />
            </button>
            <mat-card-content [hidden]="hideDetail">
              {{ this.ticket.detail }}
            </mat-card-content>
          </td>
          <td>
            <button
              mat-raised-button
              color="link"
              (click)="AddBookmark(tickets[i].id)"
            >
              Add to bookmarks
            </button>
          </td>
          <!-- {{ todo.task }} <button mat-icon-button color="warn" (click)="removeTask(todo)"><mat-icon>close</mat-icon></button> -->
        </tr>
      </tbody>
    </table>
  </div>
</body>
